<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.15" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authentication.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authentication.Core" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authorization" version="7.0.13" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authorization.Policy" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http" version="2.2.2" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="5.0.17" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Metadata" version="7.0.13" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Mvc.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Mvc.ApiExplorer" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Mvc.Core" version="2.2.5" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Mvc.DataAnnotations" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.ResponseCaching.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Routing" version="2.2.2" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.StaticFiles" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.ApiDescription.Server" version="7.0.13" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyModel" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Embedded" version="7.0.13" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Localization" version="7.0.13" targetFramework="net48" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="7.0.13" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.ObjectPool" version="7.0.13" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="7.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.WebEncoders" version="7.0.13" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="7.0.3" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="7.0.3" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="7.0.3" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="7.0.3" targetFramework="net48" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.8" targetFramework="net48" />
  <package id="Microsoft.OpenApi" version="1.6.10" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.Jwt" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="RabbitMQ.Client" version="6.6.0" targetFramework="net48" />
  <package id="Swashbuckle" version="5.6.0" targetFramework="net48" />
  <package id="Swashbuckle.AspNetCore" version="6.5.0" targetFramework="net48" />
  <package id="Swashbuckle.AspNetCore.Swagger" version="6.5.0" targetFramework="net48" />
  <package id="Swashbuckle.AspNetCore.SwaggerGen" version="6.5.0" targetFramework="net48" />
  <package id="Swashbuckle.AspNetCore.SwaggerUI" version="6.5.0" targetFramework="net48" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="7.0.3" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="5.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.3" targetFramework="net48" />
  <package id="System.Threading.Channels" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net48" />
</packages>